*{
    margin:0;
    padding:0;
}
h1{
    font-size: 2em;
    font-family: Calibri;
    font-weight: normal;
    margin: .67em 0;
    display: block;

}
#registered{
    margin-top:50px;
}
#registered img {
    margin-bottom: 8px;
    width:100px;
    height: 100px;
}
#registered span{
    clear: both;
    display: block;

}
img{
    margin-bottom:20px ;
}
.avatar{
    margin: 10px 0 20px 0;
}